---
// src/pages/about.astro

import BaseHead from '../components/BaseHead.astro';
import NavMain from '../components/NavMain.astro';
import CheckHighlight from '../components/CheckHighlight.astro';
import GetInTouch from '../components/GetInTouch.astro';
import FooterMain from '../components/FooterMain.astro';
import TeamGrid from '../components/TeamGrid.astro';
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead
            title="About Los Alamos Landscaping & More | Serving NM Since 1999"
            description="For over two decades, Los Alamos Landscaping & More has been transforming outdoor spaces in New Mexico through quality craftsmanship and community-focused service."
            keywords="About Los Alamos Landscaping, Landscaping Company NM, Local Landscapers, NM Landscape Experts"
            url="https://losalamoslandscaping.com/about"
        />
    </head>
    <body>
        <header>
            <NavMain />
        </header>
        <main>
            <section class="hero">
                <div class="padding-hero">
                    <div class="container">
                        <div class="wrapper-center">
                            <h1 class="title-sm text-red text-center">About Los Alamos Landscaping</h1>
                            <h2 class="title-page text-center">Serving Los Alamos For <br class="mobile-hide"><span class="text-red">Over Two Decades</span></h2>
                            <img class="img-hero-center" src="/images/static/lalam-team_full.webp" alt="Los Alamos Landscaping team posing together outdoors, wearing safety vests and work gear, with a black lab at the center." loading="lazy"/>
                        </div>
                    </div>
                </div>
                <div class="deco-bottom"></div>
            </section>
            <section>
				<div class="padding-large-top">
					<div class="container">
						<div class="wrapper-col">
							<div class="wrapper">
								<img src="/images/static/lalam-construction-1.webp" alt="Los Alamos Landscaping team working on a landscaping project, planting trees and shrubs along a newly developed walkway with construction equipment on-site." class="img" loading="lazy" />
							</div>
							<div class="wrapper">
								<h2 class="title-section">Rooted in Hard <br class="mobile-hide"><span class="text-red">Work & Quality</span></h2>
								<div class="body-wrapper">
									<p class="body-txt">Craig Wehner, the owner of Los Alamos Landscaping & More, LLC, started his business at a young age after receiving a youth grant from the Los Alamos Small Business Center. He used the grant money to buy a lawnmower and named his business "Craig's Rake and Pick."</p>
									<p class="body-txt">Over the years, Craig received additional youth grants and continued to grow and expand his business. Today, Los Alamos Landscaping & More is a licensed contractor and full-service landscaping company serving the Los Alamos and White Rock areas. </p>
								</div>
								<div class="btn-wrapper">
									<a href="/estimate" class="btn-primary">Get an Estimate</a>
									<a href="/services" class="btn-secondary">View Our Services</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
            <section class="section-relative">
                <div class="padding-global">
                    <div class="container">
                        <div class="wrapper-center">
                            <h2 class="title-section text-center">Growing With Our <span class="text-red">Community</span></h2>
                            <p class="body-txt text-center">As Los Alamos Landscaping grew, so did our commitment to the community we call home. Over the years, we’ve taken on projects that not only enhance individual properties but also enrich the spaces we all share. Every project we undertake is an opportunity to give back to the community that has supported us since the beginning.</p>
                            <p class="body-txt text-center">From creating the Pinon Park Splash Pad to crafting the San Ildefonso Pottery Replicas, our work reflects a dedication to blending functionality with the beauty of Northern New Mexico. The Annual Flower Baskets in Downtown Los Alamos are another proud tradition, brightening our streets and showcasing our passion for thoughtful design.</p>
                        </div>
                    </div>
                </div>
                <img class="leaf-1" src="/images/assets/leaf-small_1.svg" alt="" role="presentation" loading="lazy"/>
            </section>
            <section>
                <div class="padding-short-top">
                    <div class="container">
                        <div class="img-wrapper-center">
                            <img src="/images/static/lalam-team-outing-1.webp" alt="Los Alamos Landscaping team attending a training or meeting in a conference room, standing and seated while engaging with a presentation." class="img-md" loading="lazy" />
                            <img src="/images/static/lalam-team-outing-2.webp" alt="Los Alamos Landscaping team member smiling at an outdoor gathering, wearing sunglasses and a neon safety vest draped over his hat." class="img" loading="lazy" />
                            <img src="/images/static/lalam-team-outing-3.webp" alt="Los Alamos Landscaping team and community members enjoying a picnic under a pavilion, with a table full of food and children serving themselves." class="img-md" loading="lazy" />
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-relative">
				<div class="padding-global">
					<div class="container">
						<div class="wrapper-col">
							<div class="wrapper">
								<h2 class="title-section">The Great People <br class="mobile-hide"><span class="text-red">Behind the Work</span></h2>
								<div class="body-wrapper">
									<p class="body-txt">At Los Alamos Landscaping, our success is built on the hard work and dedication of our incredible team. Each member brings unique expertise, a passion for quality, and a shared commitment to delivering the best for our clients. Whether designing innovative landscapes or ensuring every detail is perfect, our team is here to make your vision a reality.</p>
								</div>
								<div class="btn-wrapper">
									<a href="/estimate" class="btn-primary">Get an Estimate</a>
									<a href="/services" class="btn-secondary">View Our Services</a>
								</div>
							</div>
                            <div class="wrapper">
								<img src="/images/static/lalam-team_2.webp" alt="Los Alamos Landscaping team members installing colorful hanging flower baskets in a parking lot on a sunny day." class="img" loading="lazy" />
							</div>
						</div>
					</div>
				</div>
                <img class="leaf-2" src="/images/assets/leaf-small_2.svg" alt="" role="presentation" loading="lazy"/>
			</section>
            <section class="section-dark">
                <div class="padding-global">
                    <div class="container">
                        <div class="wrapper-center">
                            <h2 class="title-section text-center text-underline-center">Meet The Team</h2>
                        </div>
                        <TeamGrid />
                    </div>
                </div>
            </section>
            <section>
				<div class="padding-global">
					<div class="container">
						<div class="wrapper-col">
							<div class="wrapper">
								<img src="/images/static/lalam-van-1.webp" alt="Los Alamos Landscaping branded service van parked under a clear blue sky, ready for landscaping projects." class="img" loading="lazy" />
							</div>
							<div class="wrapper">
								<h2 class="title-section">Looking Ahead <br class="mobile-hide"><span class="text-red">With Dedication</span></h2>
								<div class="body-wrapper">
									<p class="body-txt">At Los Alamos Landscaping & More, our vision is to continue enhancing the beauty of our community while creating enjoyable outdoor living spaces for our clients. We’re committed to delivering exceptional work and outstanding customer service, driven by a team of passionate professionals who strive to make a positive impact on both our clients and Los Alamos.</p>
									<p class="body-txt">As we grow and expand our services, we remain dedicated to providing the best possible experience for every client. Great work by great people—it’s what we do.</p>
								</div>
								<div class="btn-wrapper">
									<a href="/estimate" class="btn-primary">Get an Estimate</a>
									<a href="/services" class="btn-secondary">View Our Services</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
            <section class="section-relative">
				<img class="leaf-1" src="/images/assets/leaf-small_1.svg" alt="" role="presentation" loading="lazy"/>
				<div class="padding-global">
					<div class="container">
						<div class="wrapper-center">
							<h2 class="title-section text-center">Ready To Get Started <br class="mobile-hide" class="mobile-hide"><span class="text-red">On Your Project?</span></h2>
							<div class="btn-wrapper center">
								<a href="/estimate" class="btn-primary">Get an Estimate</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="section-relative">
				<div class="padding-short-bottom">
					<div class="container">
						<div class="wrapper-col">
							<GetInTouch />
							<div class="wrapper">
								<img src="/images/static/lalam-building.webp" alt="Exterior of a landscaped commercial building with decorative plants, stone accents, and a patio area in Los Alamos." class="img" loading="lazy" />
							</div>
						</div>
					</div>
				</div>
				<div class="deco-bottom-short"></div>
			</section>
		</main>
		<FooterMain />
	</body>
</html>