---
interface BaseHeadProps {
  title: string;
  description: string;
  keywords: string;
  image: string;
  url: string;
}

const {title, description, keywords, image, url} = Astro.props as BaseHeadProps;
---
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KK66R6B8JB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KK66R6B8JB');
</script>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{title || "Los Alamos Landscaping & More"}</title>
<meta name="description" content={description || "Los Alamos Landscaping & More"} />
<meta name="keywords" content={keywords || "landscaping, los alamos, new mexico"} />

<link rel="canonical" href={url || "https://losalamoslandscaping.com"} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={url || "https://losalamoslandscaping.com"} />
<meta property="og:title" content={title || "Los Alamos Landscaping & More"} />
<meta property="og:description" content={description || "Los Alamos Landscaping & More"} />
<meta property="og:image" content={image || "/images/opengraph/opengraph-lalam.webp"} />

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

<!-- Styles -->
<link rel="stylesheet" href="/styles/global.css" />
<link rel="stylesheet" href="/styles/root.css" />
<meta name="theme-color" content="#F1F1F2" />

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet" />

<!-- Form Scripts -->
 <script src="/scripts/contactSubject.js" defer></script>

 <!-- Sitemap -->
 <link rel="sitemap" href="/sitemap-index.xml" />