<footer>
  <div class="padding-footer">
    <div class="container">
      <div class="footer-top">
        <div class="footer-col">
          <div class="footer-logo">
            <img src="/images/logos/lalam-logo_wordmark.svg" alt="Los Alamos Landscaping logo" class="logo" loading="lazy" />
            <a href="https://losalamoslandsca.securepayments.cardpointe.com/pay?" target="_blank" class="btn-primary">Pay My Bill</a>
            <div class="card-icon-wrap">
              <img src="/images/icons/card-icon_visa.svg" alt="Visa card icon" class="card-icon" loading="lazy" />
              <img src="/images/icons/card-icon_mc.svg" alt="Mastercard card icon" class="card-icon" loading="lazy" />
              <img src="/images/icons/card-icon_amex.svg" alt="American Express card icon" class="card-icon" loading="lazy" />
              <img src="/images/icons/card-icon_discover.svg" alt="Discover card icon" class="card-icon" loading="lazy" />
            </div>
            </div>
          <div class="footer-nav-section">
            <div class="footer-nav-column">
              <h4>Company</h4>
              <ul>
                <li><a href="/careers">Careers</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/estimate">Get an Estimate</a></li>
              </ul>
            </div>
              <div class="footer-nav-column">
              <h4>Affiliations</h4>
              <ul>
                <li><a href="www.digs.construction" target="_blank">Digs Construction</a></li>
              </ul>
            </div>
            <div class="footer-nav-column">
              <h4>Legal Links</h4>
              <ul>
                <li><a href="/terms">Terms & Conditions</a></li>
                <li><a href="/privacy">Privacy Policy</a></li>
                <li><a href="/accessibility">Accessibility</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="footer-col">
          <div class="footer-nav-column">
            <p class="footer-copyright">
              © <span id="currentYear"></span> Los Alamos Landscaping and More. All Rights Reserved.
            </p>
            <a href="https://businessrate.co" target="_blank" rel="noopener noreferrer" aria-label="Best of the Best Award 2025">
              <img src="/images/logos/award-logo.png" alt="Best of the Best Award logo" class="best-logo" loading="lazy" />
            </a>
          </div>
          <p class="hidden-all">Designed by <a href="https://www.tripassdesign.com" target="_blank" rel="noopener noreferrer">Tripass Design</a></p>
          <ul class="social-wrapper">
            <li>
              <a href="https://www.facebook.com/losalamoslandscaping" target="_blank" rel="noopener noreferrer" aria-label="Los Alamos Landscaping Facebook">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 202.91 202.91" class="social-icon">
                  <path fill="currentColor" d="M202.91,8.16v186.6c0,4.5-3.65,8.15-8.15,8.15h-75.75v-68.98h26.17l4.98-32.47h-31.15v-21.09c0-8.88,4.35-17.54,18.31-17.54h14.16v-27.63s-12.85-2.19-25.15-2.19c-25.66,0-42.42,15.55-42.42,43.7v24.75h-28.54v32.47h28.54v68.98H8.16c-4.51,0-8.16-3.65-8.16-8.15V8.16C0,3.65,3.65,0,8.16,0h186.6c4.5,0,8.15,3.65,8.15,8.16Z"/>
                </svg>              
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/losalamoslandscaping" target="_blank" rel="noopener noreferrer" aria-label="Los Alamos Landscaping Instagram">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 202.91 202.91" class="social-icon">
                  <path fill="currentColor" d="M125.63,101.46c0,13.34-10.81,24.15-24.15,24.16-13.35,0-24.17-10.81-24.17-24.15-.01-13.35,10.81-24.17,24.15-24.17s24.16,10.81,24.17,24.16Z"/>
                  <path fill="currentColor" d="M157.96,58.73h-.02c-2.48-6.3-7.47-11.29-13.77-13.78-9.51-3.75-32.16-2.91-42.71-2.91s-33.18-.87-42.72,2.91c-6.3,2.49-11.28,7.48-13.77,13.78-3.75,9.51-2.91,32.18-2.91,42.72s-.84,33.19,2.93,42.73c2.48,6.3,7.47,11.29,13.77,13.77,9.51,3.76,32.16,2.92,42.72,2.92s33.17.87,42.71-2.92c6.3-2.48,11.29-7.47,13.77-13.77,3.78-9.51,2.91-32.18,2.91-42.72s.87-33.19-2.91-42.73ZM101.55,138.6h-.09c-20.51,0-37.14-16.63-37.14-37.14s16.63-37.14,37.14-37.14,37.14,16.62,37.14,37.14c.02,20.48-16.56,37.11-37.05,37.14ZM148.79,62.76c.03,4.78-3.83,8.66-8.61,8.68-.01.01-.02.01-.03.01l-.02-.02c-4.79,0-8.67-3.88-8.67-8.67-.01-4.79,3.87-8.67,8.66-8.67s8.67,3.88,8.67,8.66h0Z"/>
                  <path fill="currentColor" d="M194.75,0H8.15C3.65,0,0,3.65,0,8.16v186.6c0,4.5,3.65,8.15,8.15,8.15h186.6c4.51,0,8.16-3.65,8.16-8.15V8.16c0-4.51-3.65-8.16-8.16-8.16ZM173.42,131.35c-.58,11.61-3.23,21.89-11.71,30.35-8.47,8.45-18.75,11.15-30.34,11.7-11.97.68-47.83.68-59.79,0-11.61-.58-21.86-3.23-30.35-11.7-8.48-8.47-11.15-18.76-11.71-30.35-.67-11.97-.67-47.83,0-59.79.59-11.61,3.21-21.89,11.71-30.34,8.51-8.46,18.79-11.13,30.35-11.68,11.96-.67,47.82-.67,59.79,0,11.6.58,21.89,3.24,30.34,11.71,8.46,8.47,11.16,18.76,11.71,30.37.68,11.92.68,47.75,0,59.73Z"/>
                </svg>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/company/los-alamos-landscaping" target="_blank" rel="noopener noreferrer" aria-label="Los Alamos Landscaping LinkedIn">
                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 202.92 202.91" class="social-icon">
                  <path fill="currentColor" d="M194.76,0H8.16C3.66,0,0,3.65,0,8.16v186.6c0,4.5,3.66,8.15,8.16,8.15h186.6c4.5,0,8.16-3.65,8.16-8.15V8.16c0-4.51-3.66-8.16-8.16-8.16ZM60.19,172.91h-30.11v-96.83h30.11v96.83ZM45.13,62.84c-9.64,0-17.44-7.82-17.44-17.46s7.8-17.44,17.44-17.44,17.45,7.82,17.45,17.44-7.82,17.46-17.45,17.46ZM172.91,172.91h-30.07v-47.09c0-11.23-.22-25.67-15.64-25.67s-18.05,12.23-18.05,24.86v47.9h-30.08v-96.83h28.87v13.22h.41c4.02-7.61,13.84-15.64,28.48-15.64,30.45,0,36.08,20.05,36.08,46.13v53.12Z"/>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="padding-lic">
    <div class="container">
      <div class="footer-col">
        <p class="footer-copyright">Los Alamos Landscaping is an Equal Employment Opportunity Employer.</p>
        <p class="footer-copyright">NMDA 65696 | Licensed | Bonded | Insured</p>
    </div>
  </div>
</footer>

<style>
  .padding-footer {
    padding-left: var(--side);
    padding-right: var(--side);
    padding-top: var(--lg-vertical);
    padding-bottom: var(--vertical);
  }

  .footer-top {
    display: block;
    padding-bottom: var(--sm-vertical);
  }

  .footer-bottom {
    display: block;
    padding-top: 1.5rem;
    border-top: 1px solid var(--gray-300);
  }

  .padding-lic {
    padding-left: var(--side);
    padding-right: var(--side);
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: var(--gray-100);
  }

  .footer-col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .footer-logo {
    width: clamp(12rem, 15vw, 20rem);
  }
  .logo {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin-bottom: 1.75rem;
  }

  .btn-primary {
    width: 100%;
    text-align: center;
  }

  .card-icon-wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }
  .card-icon {
    width: clamp(2rem, 3vw, 3rem);
    height: auto;
  }

  .social-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }
  .social-icon {
    width: clamp(1.75rem, 3vw, 2rem);
    height: auto;
    color: var(--red-500);
    transition: all 0.3s ease;
  }
  .social-icon:hover {
    color: var(--red-800);
    transition: all 0.3s ease;
  }

  .best-logo {
    width: clamp(7rem, 7vw, 8rem);
    height: auto;
    margin-top: 1.5rem;
  }

  .footer-nav-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 2rem;
  }
  .footer-nav-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .footer-copyright {
    font-size: clamp(0.75rem, 1vw, 1rem);
    font-weight: 400;
    color: var(--gray-500);
    margin: 0;
    padding: 0;
  }

  h4 {
    font-size: var(--title-xs);
    font-weight: 700;
    color: var(--brown-500);
    margin: 0;
    padding: 0;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.125rem;
    padding: 0;
    margin: 0;
  }

  li a {
    display: block;
    font-size: clamp(0.875rem, 1vw, 1.125rem);
    font-weight: 500;
    color: var(--brown-500);
    padding: 0.25rem 0;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  li a:hover {
    color: var(--red-500);
    transition: all 0.3s ease;
  }

  @media screen and (max-width: 695px) {
    .footer-col {
      flex-direction: column;
      gap: 1.5rem;
    }
  }

  @media screen and (max-width: 400px) {
    .footer-nav-section {
      flex-direction: column;
      gap: 1.5rem;
    }
  }
</style>

<script>
  const currentYearElement = document.getElementById('currentYear');
  if (currentYearElement) {
    currentYearElement.textContent = new Date().getFullYear().toString();
  }
</script>
        