<div class="wrapper">
    <div class="title-wrap-horz">
        <div class="line-red"></div>
        <h2 class="title-xs text-red no-padding">Get In Touch</h2>
    </div>
    <h3 class="title-section">Reach Out To <br class="mobile-hide">Our Team</h3>
    <p class="body-txt">Have a question about our services or need more information? Reach out to our team, and we will get back to you as soon as we can to help with anything you need.</p>
    <ul class="body-wrapper">
        <li class="contact-wrap">
            <a href="https://www.google.com/maps/dir//2470+E+Rd,+Los+Alamos,+NM+87544/@35.8759013,-106.3379868,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x87181247887fe561:0xaf1f09b98a39dc7e!2m2!1d-106.2555857!2d35.8759294?entry=ttu&g_ep=EgoyMDI1MDExNC4wIKXMDSoASAFQAw%3D%3D" class="contact-link address"> 
                <img src="/images/icons/contact-icon_location.svg" alt="" role="presentation" class="contact-icon" loading="lazy" />
                <p class="contact-link">2470 E Rd, Suite A<br>Los Alamos, NM 87544</p>
            </a>
        </li>
        <li class="contact-wrap">
            <a href="tel:505-662-8033" class="contact-link"> 
                <img src="/images/icons/contact-icon_phone.svg" alt="" role="presentation" class="contact-icon" loading="lazy" />
                <p class="contact-link">505-662-8033</p>
            </a>
        </li>
        <li class="contact-wrap">
            <a href="mailto: contact@losalamoslandscaping.com" class="contact-link"> 
                <img src="/images/icons/contact-icon_email.svg" alt="" role="presentation" class="contact-icon" loading="lazy" />
                <p class="contact-link">contact@losalamoslandscaping.com</p>
            </a>
        </li>
    </ul>
    <div class="btn-wrapper">
        <a href="/estimate" class="btn-primary">Get an Estimate</a>
    </div>
</div>

<style>
    ul {
        list-style: none;
        margin: 0;
    }
    .title-wrap-horz {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 1rem;
    }
    .line-red {
        width: 2rem;
        height: 0.25rem;
        background: var(--red-500);
    }

    .contact-wrap {
        list-style: none;
        padding: 0;
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
    }
    .contact-link {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;
        list-style: none;
        text-decoration: none;
        color: var(--brown-500);
        font-size: var(--title-xs);
        font-weight: 700;
        transition: all 0.3s ease;
        padding: 0;
        margin: 0;
        flex-wrap: wrap;
    }
    .contact-link.address {
        align-items: flex-start;
    }
    .contact-link:hover {
        color: var(--red-500);
    }
    .contact-icon {
        height: clamp(1.5rem, 2vw, 2.25rem);
        aspect-ratio: 1/1;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
</style>