:root {
/* Colors */
    --red-100: #FCD7D3;
    --red-200: #F8AEA7;
    --red-300: #F5867C;
    --red-400: #F15D50;
    --red-500: #EE3524; /* Base color */
    --red-600: #E03522;
    --red-700: #BE2A1D;
    --red-800: #8F2016;
    --red-900: #5F150E;

    --brown-100: #D7D5D5;
    --brown-200: #AFABAB;
    --brown-300: #868280;
    --brown-400: #5E5856;
    --brown-500: #423937; /* Base color */
    --brown-600: #2B2523;
    --brown-700: #201C1A;

    --black: #1D1D1D;
    --white: #F8F8F8;
    --full-white: #FFFFFF;

    --gray-100: #F1F1F2;
    --gray-200: #C1C2C2;
    --gray-300: #919191;
    --gray-400: #606161;
    --gray-500: #333333;

/* Font Size */
    --fs-body: clamp(1rem, 1.5vw, 1.25rem);
    --fs-bodysm: clamp(1rem, 1.25vw, 1.25rem);
    --fs-bodyxs: clamp(0.75rem, 1vw, 1rem);
    --fs-bodylg: clamp(1rem, 1.5vw, 1.75rem);
    --fs-bodyxl: clamp(1.5rem, 2vw, 3rem);
    --page-title: clamp(3.5rem, 5vw, 6rem);
    --section-title: clamp(3rem, 4vw, 4.5rem);
    --title-lg: clamp(3rem, 2.5vw, 4rem);
    --title-md: clamp(2.5rem, 2vw, 3rem);
    --title-sm: clamp(1.25rem, 1.5vw, 2rem);
    --title-xs: clamp(1rem, 2vw, 1.25rem);

/* Padding */
    --title-padding: 0 0 2rem 0;
    --body-padding: 0 0 0.75rem 0;
/* Section Padding */
    --side: clamp(0.5rem, 2.5vw, 3rem);
    --vertical: clamp(2rem, 5vw, 4rem);
    --lg-vertical: clamp(2rem, 5vw, 8rem);
    --md-vertical: clamp(2rem, 5vw, 6rem);
    --sm-vertical: clamp(2rem, 5vw, 2rem);
    --hero: clamp(4rem, 14rem, 5rem);
    --hero-md: clamp(6rem, 14rem, 8rem);
    --hero-lg: clamp(8rem, 14rem, 10rem);
    --small: 0.25rem;
    --nav: 1.5rem;
}